.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: normal;
}
.flex-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
